.vscode

node-runtime/node_modules/
node-runtime/dist/
node-runtime/package-lock.json
node-runtime/log.txt
node-runtime/assets
node-runtime/.env

react-app/node_modules/
react-app/build/
react-app/package-lock.json
react-app/environments