.right-bar-container {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  flex: 0 1 25%;
}

.online-friends {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: flex-start;
}

.online-friend {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  align-items: center;
}

.suggestions {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: flex-start;
}

.suggestion {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  align-items: center;
}
