.MuiTextField-root {
  width: 100%;
}

.MuiInput-root {
  width: 100%;
}

.MuiOutlinedInput-root {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.text-white {
  color: white;
}

.text-bold {
  font-weight: 400;
}

.app {
  display: flex;
  margin: 16px;
}

.trial-btn {
  background-color: hsl(248, 32%, 49%);
  width: 100%;
  border: none;
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 15px;
  line-height: 1.5em;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-top: 24px;
  align-items: flex-start;
}

.error {
  color: red;
  text-align: right;
  margin-top: -10px;
}

.submit-btn {
  width: 100%;
  background-color: hsl(154, 59%, 51%);
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 15px;
}

.footer-text {
  margin-top: 10px;
  font-size: 10px;
  color: gray;
  text-align: center;
  line-height: 2em;
}

.footer-link {
  text-decoration: none;
  color: hsl(0, 100%, 60%);
}
