.search {
  display: flex;
  position: relative;
  border-radius: 30px;
  background-color: white;
  color: black;
  margin-right: 8px;
  margin-left: 8px;
  width: 100%;
  min-width: 120px;
}

@media (min-width: 1200px) {
  .search {
    width: auto;
    min-width: 480px;
  }
}

.search-icon-wrapper {
  padding: 8px;
  height: 100%;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.styled-input-base {
  max-width: 460px;

  &::before {
    border-bottom: none !important;
    transition: none !important;
  }

  &::after {
    border-bottom: none !important;
    transition: none !important;
  }
}
