.create-post-container {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 12px 16px 10px 16px;
  width: 100%;
  border-radius: 8px !important;
}

.write-post-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 12px;
  margin: 0;
}

.post-editor {
  width: 100%;
  min-width: 280px !important;
}

.attachments-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.share-option {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}

.share-post-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: flex-start;
}

.model-content {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.avtar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 12px;
}
